@import "_placeholders.scss";
@import "_functions.scss";

#cond div{
    @extend %boxes;
}

#cond{
    @include centerRow;
}

#cond div:first-of-type{
    background-color: $color-box;
}

#cond div:last-of-type{
    background-color: autoContrast($color-box);
    
}

