@import "_placeholders.scss";

#extendTest {
    p{
        &:hover span{
            display: block;
        }
        position: relative;
    }
    span{
        position: absolute;
        display: none;
        left: 150px;
        top: 0;
    }
}


#success{
    color: green;
    @extend %message;
}

#warning{
    color: black;
    @extend %message;
}

#error{
    color: darkred;
    @extend %message;
}
