@mixin textOverflow(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin centerColumn(){ //include for children?s
    display: flex;
    flex-direction: column;
    align-content: center;
}

@mixin centerRow(){
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin generateRows($items-num, $item-margin)
{
    width: ((100% - ($items-num*$item-margin))/ $items-num);
    margin-right: $item-margin;
    margin-left:0;
    margin-bottom: $item-margin;
    
    &:nth-child(#{$items-num}n){
        margin-right: 0;
    }
}

@mixin colorBox($color){
    .color-box-#{""+$color}{
        @extend %color-box;
        background-color: $color;
    }
    
}