nav{
    font-size: $font-size-basic;
    ul{
        list-style: none;
        margin:0; //potrzbne do wyrownania podlinkow
        padding:0;
    }
    li{
        display: block; //to i float potrzebne do poprawnego wyswietlenia
        float: left;
        width: 150px;
        padding: 5px;
        ul{
            margin-top: 10px;        
        }
        li{
            display: none;
        }

        &:hover li{
            display: inline-block;
        }
    }
}

a{
    color: $color-h;
        text-decoration: none;

        &:hover{
            font-weight: bold;
            color: $color-active-link;
        }
    }


