%message{
    font-size: $font-size-basic -5px;
    font-weight: bold;
    cursor: pointer;
}

%color-box{
    width: 500px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

%boxes{
    @extend %color-box;
    font-size: $font-size-basic;
}
