/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-11-11, 10:06:22
    Author     : Dell
*/

$font-size-basic: 30px;
$margin-basic: 20px 0 20px 20px; 
$color-basic: #20B2AA;
$color-active-link: lighten($color-basic, 20%);
$color-h2-bg: darken($color-basic, 20%);
$color-h: lighten($color-basic, 50%);
$color-box: #E9967A;