@import "_variables.scss";
@import "_mixins.scss";
@import "_extend.scss";
@import "_nav.scss";
@import "_cond.scss";
@import "_maths.scss";


body{
    font-family: sans-serif;
    background-color: $color-basic;
}

#main{
    @include centerColumn;
}

p{
    font-size: $font-size-basic - 10px;
}
.wrapper div{
    margin: $margin-basic;
}

h1{
    text-align: center;
    font-size: $font-size-basic+10px;
    margin-bottom: 49px;
    color: $color-h;
}

h2{
    margin: $margin-basic;
    font-size: $font-size-basic;
    padding: 7px;
    background-color: $color-h2-bg;
    color: $color-h;
}

//mixins

#mixins p{
    width: 300px;
    @include textOverflow();
}

//string interpolation

@include colorBox(salmon);
@include colorBox(seashell);
@include colorBox(seagreen);
@include colorBox(sandybrown);


#string-interp{
    @include centerRow;
}

@for $i from 3 to 7{
    h#{$i}{
        font-size: 50px - 4 * $i;
        margin: 0;
        padding: 0;
    }
    
} 

