/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-11-11, 10:06:22
    Author     : Dell
*/
#success, #warning, #error {
  font-size: 30px -5px;
  font-weight: bold;
  cursor: pointer;
}

#cond div, .color-box-salmon, .color-box-seashell, .color-box-seagreen, .color-box-sandybrown {
  width: 500px;
  height: 100px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

#cond div {
  font-size: 30px;
}

#extendTest p {
  position: relative;
}
#extendTest p:hover span {
  display: block;
}
#extendTest span {
  position: absolute;
  display: none;
  left: 150px;
  top: 0;
}

#success {
  color: green;
}

#warning {
  color: black;
}

#error {
  color: darkred;
}

nav {
  font-size: 30px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: block;
  float: left;
  width: 150px;
  padding: 5px;
}
nav li ul {
  margin-top: 10px;
}
nav li li {
  display: none;
}
nav li:hover li {
  display: inline-block;
}

a {
  color: #d9f8f6;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  color: #57e1d9;
}

#success, #warning, #error {
  font-size: 30px -5px;
  font-weight: bold;
  cursor: pointer;
}

#cond div, .color-box-salmon, .color-box-seashell, .color-box-seagreen, .color-box-sandybrown {
  width: 500px;
  height: 100px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

#cond div {
  font-size: 30px;
}

#cond {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#cond div:first-of-type {
  background-color: #E9967A;
}

#cond div:last-of-type {
  background-color: #f0b9a6;
}

#math .img {
  width: 17%;
  margin-right: 3%;
  margin-left: 0;
  margin-bottom: 3%;
  float: left;
  padding: 6px;
  border: solid 1px #ccc;
  box-sizing: border-box;
}
#math .img:nth-child(5n) {
  margin-right: 0;
}
#math .img img {
  width: 100%;
}

/*@import "compass";*/
/*@import "social/*.png";*/
body {
  font-family: sans-serif;
  background-color: #20B2AA;
}

#main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

p {
  font-size: 20px;
}

.wrapper div {
  margin: 20px 0 20px 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 49px;
  color: #d9f8f6;
}

h2 {
  margin: 20px 0 20px 20px;
  font-size: 30px;
  padding: 7px;
  background-color: #105c57;
  color: #d9f8f6;
}

#mixins p {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.color-box-salmon {
  background-color: salmon;
}

.color-box-seashell {
  background-color: seashell;
}

.color-box-seagreen {
  background-color: seagreen;
}

.color-box-sandybrown {
  background-color: sandybrown;
}

#string-interp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h3 {
  font-size: 38px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 34px;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 26px;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
